**Control Flow**

The control flow refers to how a program codes is executed.

Example of Control flow:

- if-else statement
- for loops
- while loops
- break and continue statement
- try and except statement

### If-else statement

The if statement runs a block of codes if a condition is true and the else statement runs if the condition is false.

if condition:
    # code to be executed if condition is true
else:
    # code to be executed if condition is false

In [1]:
if 5==5:
    print("Equal")

Equal

In [2]:
if 5==4:
    print("Equal")
else:
    print("Not Equal")

Not Equal

In [6]:
number = int(input("Enter a number"))

if number < 10:
    print("Number is less than 10")
    
elif number >10 and number < 20:
    print("Number is greater than 10 but less than 20")
    
elif number >20 and number < 30:
    print("Number is greater than 20 but less than 30")
    
else:
    print("Number is greater or equal to 30")

Enter a number25
Number is greater than 20 but less than 30

### Nested Condition

In [9]:
num = int(input("Enter a number"))

if num > 10:
    print(f"{num} is greater than 10")
else:
    if num%3 ==0:
        print(f"{num} is a multiple of 3")
    else:
        print(f"{num} is not a multiple of 3")
    print(f"{num} is less than 10")

Enter a number33
33 is greater than 10

### for loop

A for loop is used to iterate over a sequence(eg list,string, tuple) and execute a block of code for each item in the sequence.

for item in sequence:
    #code to execute

In [10]:
name = "Selasi"

for character in name:
    print(character)

S
e
l
a
s
i

In [11]:
list_numbers = [3,12,23,4,5,7,11,9]

for number in list_numbers:
    
    if number >10:
        print(number)
        
    else:
        print(f"{number} is less than 10")

3 is less than 10
12
23
4 is less than 10
5 is less than 10
7 is less than 10
11
9 is less than 10

**range()** is a function that generate a sequence of numbers starting from 0(by default), increasing by 1 (by default) and stops before a specified number.

- **range(stop)**

- **range(start, stop)**

- **range(start, stop, step)**


- start - starting point
- stop - ending point(exclusive)
- step - interval

In [13]:
# Generate numbers frrm 0 to 5
for i in range(6):
    print(i)

0
1
2
3
4
5

In [14]:
# Generate numbers from 10 to 20
for i in range(10,21):
    print(i)

10
11
12
13
14
15
16
17
18
19
20

In [15]:
# Generate even numbers from 10 to 20
for i in range(10,21,2):
    print(i)

10
12
14
16
18
20

### While loop

A while loop is used to repeatedly execute a block of code as long as a given condition is True, the code run repeatedly until a condition False is met

while conditon:
    # code to execute

### Infinite loop

This is a loop whose exit condition is never met, the code continues to run indefinitely.

while True:
    print("Infinite loop")

In [21]:
#Display number from 10 to 1 using a while loop
number =10

while number>0:
    print(number)
    number-=1

10
9
8
7
6
5
4
3
2
1

In [22]:
#Display list of number from 10 to 1 using a while loop

number =10
list_numbers = []
while number>0:
    list_numbers.append(number)
    number-=1

In [23]:
list_numbers

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

**break**

This statement is used to terminate a loop prematurely and skip to the next part of the code.

In [24]:
for i in range(10):
    if i == 8:
        break
    print(i)

0
1
2
3
4
5
6
7

In [34]:
nums = [2,3,4,5,1,4,5,5]
total =0
for i in range(len(nums)):    
    while total<10:
        total+=nums[i]
        break

In [35]:
total

14

**continue**

The continue keyword is used skip the current iteration of the loop and continues to the next iteration

In [36]:
for i in range(1,11):
    if i==5:
        continue
    print(i)

1
2
3
4
6
7
8
9
10

In [38]:
names = ["Akua","Akos","Adjoa","Akosua","Abena"]

for name in names:
    if name=="Akosua":
        continue
    print(name)

Akua
Akos
Adjoa
Abena