### Functions

Functions are block of codes tha performs a specific task.

 Functions allow you to break down complex problems into smaller, more manageable parts, making it easier to develop and maintain large programs.

#### Part of a Python Function

The part of python function includes:

- **Function Header** :The function header comprises of the **def** keyword followed by the name of  the function and a set  of parentheses that may contain arguments separated by commas. A function may or may not have any arguments. The function header always ends with a colon(:). 


- **Docstrings**: The documentation strings describe what the function does and how to use the function. The docstring are strings placed within triple quotes and can span across multiple  lines. To access the docstrings of a function use  the **__doc__** atribute of the function or the **help()** Python function.


- **Function Body**: The function body is the code block inside the function which isindented from the header. It consist of the logic of the function.


- **Return statement**: It consist of a **return** keyword followed by the value that the function should return. Afunction with no return statement simply returns None


To call a function in python, write the name of the function follwed by the enclosed parentheses with or without arguments.

In [1]:
#This is an empty function
def empty():
    pass

In [2]:
#Returns nothing
empty()

In [3]:
def welcome():
    """
    This function returns Welcome to Python
    """
    return "Welcome to Python"

In [4]:
#Acessing the docstrings of a function
help(welcome)

Help on function welcome in module __main__:

welcome()
    This function returns Welcome to Python

In [5]:
#Acessing the docstrings of a function
welcome.__doc__

'\n    This function returns Welcome to Python\n    '

In [6]:
#Calling the function
welcome()

'Welcome to Python'

In [7]:
#Functions with arguments

def addition(a,b):
    """
    This function adds two nums together
    
    INPUT:
    a: int, value one
    b: int, value two
    
    OUTPUT:
    return : The sum of a and b
    
    """
    return a+b

In [8]:
addition(3,5)

8

**Variable Scope**: It refers to the portion of a program that a variable can  be referenced.


**Local variable** : A varible defined in a function and can be only accessed within the function.

**Global variable**: A variable defined outside a function and can be access in any part of the program.

Local variable precede global variable whrn they both have the same variable name.

In [9]:
num = 5 #Global variable

def display():
    print(f"The number is {num}")

In [10]:
display()

The number is 5

In [11]:
num = 5 #Global variable

def display():
    num = 10  #local variable
    print(f"The number is {num}")

In [12]:
display()

The number is 10

**Positional arguments**: 

Arguments where values get assigned to the arguments by their position when the function is called
It is an argument whose position matters in a function call.

In [13]:
def bmi(height, weight):
    return weight/height**2

In [14]:
bmi(1.76,55)

17.75568181818182

**Default Arguments**:  Default values are assigned to argument of the function using the assignment operator.

**Keyword Arguments**: These are arguments where values get assigned to the arguments by their keyword(name) when the fuction id called. It is preceded by the variable name and an assignment operator.

Positional argument should follow keyword argument.

In [15]:
def cedis_to_dollar(cedis, dollar_rate=15):
    dollar = cedis * dollar_rate
    print(f"{cedis} cedis to dollar is {dollar}")

In [16]:
cedis_to_dollar(25)

25 cedis to dollar is 375

In [17]:
def cedis_to_dollar(cedis, dollar_rate):
    dollar = cedis * dollar_rate
    print(f"{cedis} cedis to dollar is {dollar}")

In [18]:
cedis_to_dollar(cedis=12, dollar_rate=16)

12 cedis to dollar is 192

***args** is used to denote that the function can accept a variable number of arguments which are passed as a tuple to the function.

In [19]:
def summation(*args):
    print(type(args))
    total = 0
    for i in args:
        total+=i
    print(total)

In [20]:
summation(2,3,4,5)

<class 'tuple'>
14

***kwargs** is used to passs a variable number of keyword arguments to a python fucntion. It is denoted by using double asterisk before the parameter name

In [21]:
def stock(**items):
    print(items)

In [22]:
stock(pencil=2,earser=5,ruler=2)

{'pencil': 2, 'earser': 5, 'ruler': 2}

In [23]:
def total_stocks(**items):
    total = 0
    for num in items.values():
        total+=num
    return total

In [24]:
total_stocks(pencil=2,earser=5,ruler=2)

9

**Lambda Expression**

A lambda expression is an anonymous function that can take any number of arguments but can only have one expression.

The **lambda** keyword is used to define a lambda expression.

Syntax for a lambda expression

lambda arguments: expression

In [25]:
#Normal function definition:

def add_two(x):
    return x+2

In [26]:
add_two(5)

7

In [27]:
# Lambda expression of add_two
lambda x:x+2

In [28]:
add_2 = lambda x:x+2

In [29]:
add_2(5)

7

In [30]:
multiplication = lambda x,y : x*y

In [31]:
multiplication(4,5)

20

In [32]:
whole_numbers = lambda x: x-x if x<0 else x

In [33]:
whole_numbers(5)

5

In [34]:
whole_numbers(-5)

0

### Higher Order Built-In Functions

**map**

This function applies a given funnction to each element of an iterable(list,tuple) and returns an iterator with the results

In [35]:
def square(x):
    return x ** 2

In [36]:
numbers = list(range(1,11))
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [37]:
map(square,numbers)

In [38]:
print(list(map(square,numbers)))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [39]:
#map with lambda expression
sqrt_numbers = list(map(lambda x:x**0.5, numbers))
sqrt_numbers

[1.0,
 1.4142135623730951,
 1.7320508075688772,
 2.0,
 2.23606797749979,
 2.449489742783178,
 2.6457513110645907,
 2.8284271247461903,
 3.0,
 3.1622776601683795]

In [40]:
list_numbers = [[5,2,4],[6,3,1],[4,6,10]]

In [41]:
max_numbers = list(map(max, list_numbers))

In [42]:
max_numbers

[5, 6, 10]

**filter()**:

It filters the given sequence with the help of a function that tests each element in the sequence to be true or not.

In [43]:
def is_negative(x):
    return x<0

nums = [-3,3,4,-5,2,-4,-9,5]

negative_numbers = filter(is_negative, nums)

In [44]:
negative_numbers

In [45]:
list(negative_numbers)

[-3, -5, -4, -9]

In [46]:
def upper(word):
    return word.isupper()

In [47]:
names =["kofi","PRECIOUS","DANIEL",'kwesi',"SELASI",'FRED','kwaku']

In [48]:
uppercase = list(filter(upper, names))

In [49]:
uppercase

['PRECIOUS', 'DANIEL', 'SELASI', 'FRED']

**zip()**:

This method takes iterables and returns a single iteraor object, having mapped values from all the containers.

In [50]:
numbers = [1,2,3,4,5]
words = ["one","two", "three", "four", "five"]

In [51]:
zip(numbers, words)

In [52]:
list(zip(numbers, words))

[(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four'), (5, 'five')]

In [53]:
list(zip([1,2,3,4,5],["one","two", "three", "four", "five"]))

[(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four'), (5, 'five')]

In [54]:
for num, word in zip(numbers, words):
    print(f"{num}:{word}")

1:one
2:two
3:three
4:four
5:five

**Unzipping**: It is the preocess of extracting individual elements of an iterable object and transforming them into separate lists.

The operators used in unzipping are  the zip and the * operators.

In [55]:
zipped = list(zip(numbers, words))

In [56]:
zipped

[(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four'), (5, 'five')]

In [57]:
unzipped = zip(*zipped)

In [58]:
unzipped

In [59]:
list(unzipped)

[(1, 2, 3, 4, 5), ('one', 'two', 'three', 'four', 'five')]

In [60]:
numbers, words = zip(*zipped)

In [61]:
numbers

(1, 2, 3, 4, 5)

In [62]:
words

('one', 'two', 'three', 'four', 'five')

**enumerate()**:

This method returns an iterator of tuples containing indicies and values of a list

In [63]:
words =['one', 'two', 'three', 'four', 'five']

In [64]:
enumerate(words)

In [65]:
list(enumerate(words))

[(0, 'one'), (1, 'two'), (2, 'three'), (3, 'four'), (4, 'five')]

In [68]:
for i, word in enumerate(words):
    print(f"{i} {word}")

0 one
1 two
2 three
3 four
4 five

In [69]:
for i, word in enumerate(words):
    print(f"{i+1} - > {word}")

1 - > one
2 - > two
3 - > three
4 - > four
5 - > five