### Python String Operations and Manipulation

In [1]:
words = "Welcome to Python Programming."

In [2]:
words

'Welcome to Python Programming.'

In [3]:
type(words)

str

#### Length of a String

The function **len()** return the number of characters in the string including spaces and punctuations

In [4]:
len(words)

30

There are 30 characters in the variable words.

#### String Concatenation

String Concatenation means joining two or more strings together using the **+** operator

In [5]:
sentence1 = "My name is Kofi."
sentence2 = "I am 5 years old."

In [6]:
sentence1

'My name is Kofi.'

In [7]:
sentence2

'I am 5 years old.'

In [8]:
full_sentence = sentence1 + sentence2

In [9]:
full_sentence

'My name is Kofi.I am 5 years old.'

In [10]:
name1 = "Kofi"
conj = "and"
name2 ="Ama"

In [11]:
name1+conj+name2

'KofiandAma'

In [12]:
name1+" "+conj+" "+name2

'Kofi and Ama'

#### String Multiplication

In Python, strings can be multiplied by an integer to produce multiple copies of the stings using the `*` operator.

In [13]:
name = "Kwame"

In [14]:
name*3

'KwameKwameKwame'

In [15]:
name*5

'KwameKwameKwameKwameKwame'

#### String Indexing

- String indexing in python means accessing a character from a string based on its position.

- The index of the first character of a string is 0 and the index of the last character of a string is -1.

- Use the square bracket [] with the index number to retrieve a character from a string

In [16]:
name = "Kwame"

In [17]:
name_length = len(name)
name_length

5

In [18]:
# The first character of name
name[0]

'K'

In [19]:
# The third character of name
name[3-1]

'a'

In [20]:
name[2]

'a'

In [21]:
# The last character of name
name[name_length-1]

'e'

In [22]:
# This will throw an error because the index is out of range
name[5]

IndexError: string index out of range

#### String Slicing

String Slicing means extracting substring from a string.

The syntax for slicing are [start:stop] or [start:stop:step]

- start - the index of the first character to include
- stop  -  the index of the first character not included in the sequence
- step -  number of characters to skip between the start and stop indices. The default value is 1 or None.

In [23]:
statement = "Kofi is going to school."

In [24]:
statement

'Kofi is going to school.'

In [25]:
statement[0:4]

'Kofi'

In [26]:
# Start at index 8 and goes to the end of the string
statement[8:]

'going to school.'

In [27]:
#Start at the beginning of the string and ends at index 7 of the string
statement[:8]

'Kofi is '

In [40]:
statement[2:9:2]

'f sg'

In [28]:
# Inverse of the string
statement[::-1]

'.loohcs ot gniog si ifoK'

In [38]:
#Negative indexing of slicing
statement[-7:-1]

'school'

In [41]:
statement[-6]

'c'

### String Method

In [42]:
question = "How are you?"

#### Uppercase

To convert a string to uppercase use the method **upper()**

In [43]:
question.upper()

'HOW ARE YOU?'

#### Lowercase

To convert a string to case use the method **lower()**

In [44]:
question.lower()

'how are you?'

To capitalize the first character of a string use the method **capitalize()**

In [45]:
question.capitalize()

'How are you?'

To capitalize the first letter of each word in a string use the method **title()**

In [47]:
question.title()

'How Are You?'

Use the method **count()** to count the number of a specific character(s) in a string.

In [52]:
question.count("o")

2

**split()** method splits the string by a specific sperator and returns a list of strings.

In [57]:
splitted = question.split(" ")
splitted

['How', 'are', 'you?']

In [54]:
question.split("o")

['H', 'w are y', 'u?']

**join()** method is used to join a list of strings into a single string.

In [59]:
" ".join(splitted)

'How are you?'

The **strip()** methods removes both the leading nad trailing white space from a string.

In [55]:
sentence = " I  am going to the market. "

In [56]:
sentence.strip()

'I  am going to the market.'

There are more methods on strings in the Python string [documentation](https://python-reference.readthedocs.io/en/latest/docs/str/)

### String Formatting

String formatting is the process of inserting a custom string or a variable

##### using the f-string

In [64]:
name = "Selorm"
age = 22
print(f"{name} is my friend.")

Selorm is my friend.

#### using the str.format() method

In [67]:
print("{} is my friend. He is {} years old.".format(name, age))

Selorm is my friend. He is 22 years old.

#### using the % formatting

In [72]:
print("%s is my friend. He is %d years old."%(name, age))

Selorm is my friend. He is 22 years old.

### User Input

The function **input()** is used to get an input from a user

In [74]:
input("What is your name?")

What is your name?Selasi

'Selasi'

In [76]:
name = input("What is your name? ")
print(f"Your name is {name}")

What is your name? Selasi
Your name is Selasi

To ensurer the user input is an integer or float, place the input function within an **int()** or **float()** function

In [77]:
age = int(input("How old are you"))

print(f"Data type of age is {type(age)}")

How old are you5
Data type of age is <class 'int'>